<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">

    <!-- ESQUERDA -->
    <ion-col size="6" class="bg-image"></ion-col>
    <!-- DIREITA -->
    <ion-col size="6" class="lado-direito">

     <ion-label class="titulo">Criar Conta</ion-label>

      <!-- ROW PARA DIMINUIR o input -->
      <ion-row class="ion-justify-content-center">

        <ion-col size="8">

          <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Confirmar Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

            <ion-button expand="block" class="btn-criar">
          Criar Conta
        </ion-button>

        <div class="login-text">Login com</div>

        <ion-button class="facebook">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        Facebook
        </ion-button>

       <ion-button class="twitter">
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        Twitter
       </ion-button>

       <ion-button class="google">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Google
       </ion-button>

       <div class="divider-footer">
  <span>Porsche</span>
</div>
        </ion-col>

      </ion-row>

    </ion-col>

  </ion-row>

</ion-content>
