<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">

    <!-- ESQUERDA -->
    <ion-col size="6">
      <img src="https://www.estadao.com.br/resizer/v2/CYISWDGO2JAWVELDOPQJMFKLEI.png?quality=80&auth=a59333f1e3ce049b167f78051c5e0c42cdfb596739b34b5494f3362d6d09700f&width=1262&height=710&smart=true" width="100%" height="100%">
    </ion-col>

    <!-- DIREITA -->
    <ion-col size="6">

      <ion-label>Criar Conta</ion-label>

      <!-- ROW PARA DIMINUIR o input -->
      <ion-row class="ion-justify-content-center">

        <ion-col size="4">

          <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Confirmar Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>

          <ion-button size="small" expand="block" color="medium">
            Criar conta
          </ion-button>

          <ion-button size="small" expand="block" color="medium">
            Criar conta
          </ion-button>

          <ion-button size="small" expand="block" color="medium">
            Criar conta
          </ion-button>

          <ion-button size="small" expand="block" color="medium">
            Criar conta
          </ion-button>

          <ion-button size="small" expand="block" color="medium">
            Criar conta
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-col>

  </ion-row>

</ion-content>
